@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.App {
  text-align: center;
}

.Right {
  text-align: right;
}

.container {
  font-family: 'Noto Sans JP', sans-serif;
}
