@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  height: 20vmin;
}

.hPage {
  background-color: #45c2f4;
  color: white;
}

.container {
  font-family: 'Noto Sans JP', sans-serif;
}

.body1 {
  text-align: left;
}